{% extends 'shopapp/base.html' %}

{% block title %}
    Confirm archive {{ order.name }}
{% endblock %}

{% block body %}
    <h1>Are you sure you want to archive Order #{{ order.pk }}?</h1>
    <br>
    <div>
        <a href="{% url 'shopapp:order_details' pk=order.pk %}">Back to order #{{ order.pk }}</a>
    </div>
    <br>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Archive</button>
        </form>
    </div>

{% endblock %}
