{% extends "shopapp/base.html" %}

{% block title %}
    Product #{{ product.pk }}
{% endblock %}

{% block body %}
    <h1>Product <strong>{{ product.name }}</strong></h1>
    <div>
        <div><span style="color: blue;">Description</span>: <em>{{ product.description }}</em></div>
        <div><span style="color: blue;">Price</span>: {{ product.price }}</div>
        <div><span style="color: blue;">Discount</span>: {{ product.discount }}</div>
        <div><span style="color: blue;">Archived</span>: {{ product.archived }}</div>
        <div><span style="color: blue;">Created by</span>: {{ product.created_by.username }}</div>
    </div>
    <br>

    {# Проверка прав на редактирование: суперпользователь ИЛИ автор с правом изменения #}
    {% if user.is_superuser or product.created_by == user and perms.shopapp.change_product %}
        <div class="ms-3 d-grid gap-2 d-md-block">
            <a href="{% url 'shopapp:products_list' %}" class="btn btn-primary btn-lg">
                <i class="bi bi-arrow-clockwise"></i>
                Update product
            </a>
        </div>
    {% endif %}
    <br>
    {# Проверка прав на архивирование: суперпользователь ИЛИ автор с правом удаления #}
    {% if user.is_superuser or product.created_by == user and perms.shopapp.delete_product %}
        <div class="ms-3 d-grid gap-2 d-md-block">
        <a href="{% url 'shopapp:products_list' %}" class="btn btn-primary btn-lg">
            <i class="bi bi-archive"></i>
            Archive product
        </a>
    </div>
    {% endif %}
    <br>

    <div class="ms-3 d-grid gap-2 d-md-block">
        <a href="{% url 'shopapp:products_list' %}" class="btn btn-primary btn-lg">
            🛍Back to products list🛍
        </a>
    </div>

{% endblock %}