{% extends 'shopapp/base.html' %}

{% block title %}
    Create product
{% endblock %}

{% block body %}
    <h1>Create product</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}ProductCreateView
            <button type="submit">Create</button>
        </form>
    </div>
    <br>
    <div class="ms-3 d-grid gap-2 d-md-block">
        <a href="{% url 'shopapp:products_list' %}" class="btn btn-primary btn-lg">
            🛍Back to products list🛍
        </a>
    </div>
{% endblock %}