{% extends "shopapp/base.html" %}

{% block title %}
    Products List
{% endblock %}

{% block body %}
    <h1>Products:</h1>
    {% if products %}
        <div>
            {% for product in products %}
                <div>
                    <a href="{% url 'shopapp:product_details' pk=product.pk %}">{{ product.name }}</a>
                </div>
                <br>
                <div><span style="color: blue;">Price</span>:  {{ product.price }}</div>
                <div><span style="color: blue;">Discount</span>:  {% firstof product.discount 'no discount' %}</div>
                <div><span style="color: blue;">Archived</span>: {{ product.archived }}</div>
                <br>
            {% endfor %}
        </div>


    {% else %}
        <h3>No products yet</h3>
    {% endif %}

    <br>
    <div>
        <a href="{% url 'shopapp:product_create' %}">Create a new product</a>
    </div>
{% endblock %}