asgiref==3.9.1
astroid==3.3.11
attrs==25.4.0
certifi==2025.11.12
dill==0.4.0
Django==5.2.6
django-debug-toolbar==6.1.0
django-filter==25.2
djangorestframework==3.16.1
docutils==0.22.3
drf-spectacular==0.29.0
flake8==7.3.0
flake8-docstrings==1.7.0
inflection==0.5.1
isort==6.0.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
mccabe==0.7.0
pillow==12.0.0
platformdirs==4.4.0
pycodestyle==2.14.0
pydocstyle==6.3.0
pyflakes==3.4.0
pylint==3.3.8
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.28.0
sentry-sdk==2.44.0
snowballstemmer==3.0.1
sqlparse==0.5.3
tomlkit==0.13.3
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.5.0
